<ng-scrollbar compact="true" autohide="true" class="page">
  <div class="top flex straight_reverse">
      <div>
          <span id="title">My skills</span>
          <br/>
          <span id="text">What I've got and I can work like:</span>
      </div>
  </div>
  <div class="content">
    <h3 class="anim" id="des">Designer</h3>
    <section class="column">
      <ul class="list">
        <li class="white_circle">
          <div class="gray_circle">
            <div class="black_circle">
              <span class="tool">
                CorelDraw
              </span>
            </div>
          </div>
        </li>
        <li class="white_circle">
          <div class="gray_circle">
            <div class="black_circle">
              <span class="tool">
                Cinema 4D
              </span>
            </div>
          </div>
        </li>
        <li class="white_circle">
          <div class="gray_circle">
            <div class="black_circle">
              <span class="tool">
                zBrush
              </span>
            </div>
          </div>
        </li>
        <li class="white_circle">
          <div class="gray_circle">
            <div class="black_circle">
              <span class="tool">
                Illustrator
              </span>
            </div>
          </div>
        </li>
        <li class="white_circle">
          <div class="gray_circle">
            <div class="black_circle">
              <span class="tool">
                Photoshop
              </span>
            </div>
          </div>
        </li>
      </ul>
      <h4>I can create:</h4>
      <span>Logos, 3d models, Web-design. If I'm not able to do something I'll spend a time to fix it.</span>
    </section>
    <h3 class="anim" id="dev">Developer</h3>
    <section class="column">
      
      <ul class="list">
        <li class="white_circle">
          <div class="gray_circle">
            <div class="black_circle">
              <span class="tool">
                javaScript()
              </span>
            </div>
          </div>
        </li>
        <li class="white_circle">
          <div class="gray_circle">
            <div class="black_circle">
              <span class="tool">
                Type: Script
              </span>
            </div>
          </div>
        </li>
        <li class="white_circle">
          <div class="gray_circle">
            <div class="black_circle">
              <span class="tool">
                C++
              </span>
            </div>
          </div>
        </li>
        <li class="white_circle">
          <div class="gray_circle">
            <div class="black_circle">
              <span class="tool">
                &#60;HTML5/&#62;
              </span>
            </div>
          </div>
        </li>
        <li class="white_circle">
          <div class="gray_circle">
            <div class="black_circle">
              <span class="tool">
                .css3 &#123;&#125;
              </span>
            </div>
          </div>
        </li>
      </ul>
      <span>It was starting like a hobby. Now I know more than just HTML. My knowledge is growing day by day and I want to use it.</span>
    </section>
    <h3 class="anim" id="oth">& Other</h3>
    <section class="column">
      <h4>I'm in process of learning</h4>
      <ul class="list">
        <li>
          <span>RxJS</span>
        </li>
        <li>
          <span>jQuery</span>
        </li>
        <li>
          <span>Angular7</span>
        </li>
      </ul>
      <h4>Also I have</h4>
      <span>4 years of printing, 1 year of tax and salary accounting, 5 years of selling</span>
      
    </section>

  </div>
</ng-scrollbar>