<ng-scrollbar>
  <div class="top flex straight_reverse">
    <div>
        <span id="title">My friend</span>
        <br/>
        <span id="text">text me</span>
    </div>
</div>

  <ul id="links">
    <li class="ico">
      <svg id="facebook" xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="150px" height="150px" version="1.1" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
viewBox="0 0 166.318 166.318"
 xmlns:xlink="http://www.w3.org/1999/xlink">
 <defs>
  <style type="text/css">
    .fil0 {fill: white}
    .fil1 {fill: cornflowerblue;}
		#flood, #bg {
			transition: all 350ms ease;
		}
		#facebook:hover #bg {
			transform: scale(0.98) translate(1%, 1%);
		}
		#facebook:hover #flood {
			flood-opacity:1;
		}
  </style>
	  <filter id="shadow">
		 <feOffset dx="1.6" dy="2.5"/>
		 <feGaussianBlur stdDeviation="5" result="blur"/>
		 <feComposite operator="out" in="SourceGraphic" in2="blur" result="first"/>
		 <feFlood id="flood" flood-color='black' flood-opacity='0.1' result='color'/>
		 <feComposite operator="in" in="color" in2="first" result="second"/>
		 <feComposite operator="over" in2="SourceGraphic" in="second"/>
		
	 </filter>
 </defs>
 <a target="_blank" id="fbook" href="https://www.facebook.com/maxim.dmitrachkov.3">
    <rect id="bg" class="fil0" width="166.317" height="166.317" rx="16.632" ry="16.632" filter="url(#shadow)"/>
  <path id="f" class="fil1" d="M93.348 58.074l0 -10.991c0,-5.266 3.549,-6.526 6.07,-6.526 2.404,0 15.342,0 15.342,0l0 -23.472 -21.182 0c-23.472,0 -28.739,17.403 -28.739,28.625l0 12.364 -13.624 0 0 27.365 13.74 0c0,31.029 0,68.353 0,68.353l27.363 0c0,0 0,-37.783 0,-68.353l20.267 0 2.517 -27.365 -21.754 0z" filter="url(#shadow)"/>
</a>
</svg>
    </li>
    <li class="ico">
      <svg id="linkedin" xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="150px" height="150px" version="1.1" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
viewBox="0 0 33.535 33.535"
 xmlns:xlink="http://www.w3.org/1999/xlink">
 <defs>
  <style type="text/css">

    .fil0 {fill:white}
    .fil1 {fill:cornflowerblue}
		#flood, #Background {
			transition: all 350ms ease;
		}
		#linkedin:hover #Background {
			transform: scale(0.98) translate(1%, 1%);
		}
		#linkedin:hover #flood {
			flood-opacity:1;
		}
  </style>
	 <filter id="shadow2">
		 <feOffset dx="0.3" dy="0.5"/>
		 <feGaussianBlur stdDeviation="1" result="blur"/>
		 <feComposite operator="out" in="SourceGraphic" in2="blur" result="first"/>
		 <feFlood id="flood" flood-color='black' flood-opacity='0.1' result='color'/>
		 <feComposite operator="in" in="color" in2="first" result="second"/>
		 <feComposite operator="over" in2="SourceGraphic" in="second"/>
	 </filter>
 </defs>
  <a target="_blank" id="in" href="https://www.linkedin.com/in/max-dm/?locale=en_US">
   <rect id="Background" class="fil0" width="33.535" height="33.535" rx="3.354" ry="3.354" filter="url(#shadow2)"/>
   <g>
    <path id="n" class="fil1" d="M13.64 13.678l5.041 0 0 1.77c1.043,-1.25 2.612,-2.045 4.367,-2.045 3.139,0 5.684,2.545 5.684,5.685l0.031 9.655 -5.041 0 -0.014 -8.845c0,-1.388 -1.125,-2.513 -2.514,-2.513 -1.388,0 -2.513,1.125 -2.513,2.513l0 8.845 -5.041 0 0 -15.065z" filter="url(#shadow2)"/>
    <rect id="i" class="fil1" x="5.256" y="13.678" width="5.041" height="15.066" filter="url(#shadow2)"/>
    <circle id="Circle" class="fil1" cx="7.777" cy="7.796" r="3.004" filter="url(#shadow2)"/>
   </g>
  </a>
</svg>

    </li>
    <li class="ico">
      <svg id="codepen" xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="150px" height="150px" version="1.1" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
viewBox="0 0 58.729 58.729"
 xmlns:xlink="http://www.w3.org/1999/xlink">
 <defs>
  <style type="text/css">
    .fil0 {fill:white}
    .fil1 {fill:cornflowerblue}
		#flood, #bg {
			transition: all 350ms ease;
		}
		#codepen:hover #bg {
			transform: scale(0.98) translate(1%, 1%);
		}
		#codepen:hover #flood {
			flood-opacity:1;
		}
  </style>
	 	 <filter id="shadow3">
		 <feOffset dx="0.5" dy="0.9"/>
		 <feGaussianBlur stdDeviation="1.8" result="blur"/>
		 <feComposite operator="out" in="SourceGraphic" in2="blur" result="first"/>
		 <feFlood id="flood" flood-color='black' flood-opacity='0.1' result='color'/>
		 <feComposite operator="in" in="color" in2="first" result="second"/>
		 <feComposite operator="over" in2="SourceGraphic" in="second"/>
	 </filter>
 </defs>
 <a id="cp" target="_blank" href="https://codepen.io/mctitkez/">
  <rect id="bg" class="fil0" width="58.729" height="58.729" rx="5.873" ry="5.873" filter="url(#shadow3)"/>
  <path id="cube" class="fil1" d="M30.558 8.627l19.381 12.921c0.618,0.411 0.959,1.049 0.959,1.791 0,4.017 0,8.034 0,12.051 0,0.742 -0.341,1.38 -0.959,1.792 -6.46,4.306 -12.92,8.613 -19.381,12.92 -0.738,0.493 -1.65,0.493 -2.388,0l-19.381 -12.921c-0.617,-0.411 -0.959,-1.049 -0.959,-1.791l0 -12.051c0,-0.742 0.342,-1.38 0.959,-1.791l19.381 -12.921c0.738,-0.493 1.65,-0.493 2.388,0zm-17.612 14.462l6.178 4.119 8.266 -5.511 0 -8.237 -14.444 9.629zm6.178 8.432l-6.178 4.119 14.444 9.629 0 -8.237 -8.266 -5.511zm-7.705 0.824l4.47 -2.981 -4.47 -2.98 0 5.961zm34.363 -9.255l-6.178 4.118 -8.266 -5.511 0 -8.237 14.444 9.63zm-6.178 8.431l6.178 4.119 -14.444 9.629 0 -8.237 8.266 -5.511zm7.705 0.824l-4.47 -2.98 4.47 -2.98 0 5.96zm-24.95 -2.981l7.005 -4.67 7.005 4.67 -7.005 4.671 -7.005 -4.671z" filter="url(#shadow3)"/>
</a>
</svg>

    </li>
    <li class="ico">
      <svg id="mail" xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="150px" height="150px" version="1.1" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
      viewBox="0 0 29.209 29.209"
       xmlns:xlink="http://www.w3.org/1999/xlink">
       <defs>
        <style type="text/css">
          .fil0 {fill:white}
          .fil1 {fill:cornflowerblue}
          #flood, #bg {
            transition: all 350ms ease;
          }
          #mail:hover #bg {
            transform: scale(0.98) translate(1%, 1%);
          }
          #mail:hover #flood {
            flood-opacity:1;
          }
        </style>
        <filter id="shadow4">
           <feOffset dx="0.25" dy="0.45"/>
           <feGaussianBlur stdDeviation="0.9" result="blur"/>
           <feComposite operator="out" in="SourceGraphic" in2="blur" result="first"/>
           <feFlood id="flood" flood-color='black' flood-opacity='0.1' result='color'/>
           <feComposite operator="in" in="color" in2="first" result="second"/>
           <feComposite operator="over" in2="SourceGraphic" in="second"/>
        </filter>
       </defs>
       <a id="gmail" href="mailto:max.dmitrachkov@gmail.com">
        <rect id="bg" class="fil0" width="29.209" height="29.209" rx="2.921" ry="2.921" filter="url(#shadow4)"/>
        <path id="envelope" class="fil1" d="M5.452 6.815l18.304 0c0.857,0 1.558,0.701 1.558,1.558l0 12.463c0,0.856 -0.701,1.557 -1.558,1.557l-18.304 0c-0.857,0 -1.558,-0.701 -1.558,-1.557l0 -12.463c0,-0.857 0.701,-1.558 1.558,-1.558zm17.106 0.974l-7.882 5.756 -7.881 -5.756 15.763 0zm-16.124 13.631l0 -10.592 8.311 6.07 8.03 -5.865 0 10.387 -16.341 0z" filter="url(#shadow4)"/>
      </a>
      </svg>
    </li>
    
  </ul>

<footer>
  <p>This site was built with Angular7</p>
</footer>

</ng-scrollbar>